/* Importing a font that gives a medieval, magical vibe */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

/* General styling */
body {
    background-color: #f4e9d8; /* Parchment background */
    color: #3d2b1f; /* Dark brown text */
}

label {
    color: #3d2b1f !important; /* Dark brown text */
}

.sheet-body {
    font-family: 'IM Fell English SC', serif; /* Medieval font */
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #e6d5b8; /* Lighter parchment background for the control panel */
    border: 5px solid #3d2b1f; /* Dark brown border */

    background-image: url('https://peri.vampyrebytes.com/img/static-parchment-light.jpg');
    background-repeat: repeat; /* This will tile the image */
}

.sheet-title {
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 20px;
    color: #3d2b1f; /* Dark brown text */
}

.sheet-subtitle, h2 {
    font-size: 1.7em;
    text-decoration: underline;
    color: #3d2b1f; /* Dark brown text */
    padding-bottom: 10px;
}

.sheet-section {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #3d2b1f; /* Dark brown border */
    background-color: rgba(255, 255, 255, 0.1); /* Slight transparency */
}

.sheet-section h2 {
    margin-top: 0;
    color: #3d2b1f; /* Dark brown text */
}

input,
textarea,
select {
    background-color: #f4e9d8; /* Parchment background */
    color: #3d2b1f; /* Dark brown text */
    border: 2px solid #3d2b1f; /* Dark brown border */
    padding: 5px;
    font-size: 16px;
}

.custom-button {
    background-color: #3d2b1f !important; /* Dark brown background */
    color: #f4e9d8 !important; /* Parchment text */
    border: 2px solid #3d2b1f !important; /* Dark brown border */
    padding: 10px !important;
    font-size: 16px !important;
    font-weight: normal !important; /* Removes bold */
    cursor: pointer !important;
    margin-bottom: 10px !important; /* Adds space under the button */
}

/* Roll template styling */
.sheet-rolltemplate-sagas {
    background-color: #e6d5b8; /* Lighter parchment background */
    border: 5px solid #3d2b1f; /* Dark brown border */
    padding: 20px;
    color: #3d2b1f !important; /* Dark brown text */

    background-image: url('https://peri.vampyrebytes.com/img/parchment-dark.jpg');
    background-repeat: repeat; /* This will tile the image */
    background-size: 50%; /* This will scale the image to half its original size */
}

.sheet-rolltemplate-sagas strong {
    font-size: 1.2em;
}

.sheet-rolltemplate-sagas p {
    margin: 10px 0;
}

.sheet-rolltemplate-sagas span.sheet-actualroll span {
    color: #20B2AA;
}
