/* Importing a font that gives a playful vibe */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* General styling */
body {
    background-color: #f7e7a9; /* Pikachu yellow */
    color: #333; /* Dark text */
}

label {
    color: #333 !important; /* Dark text */
}

.sheet-body {
    font-family: 'Press Start 2P', cursive; /* Pixelated font */
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background-color: #f0f0f0; /* Light grey background */
    border: 5px solid #ff0000; /* Red border */
}

.sheet-title {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
    color: #ff0000; /* Red text */
}

.sheet-subtitle, h2 {
    font-size: 1.2em;
    text-decoration: underline;
    color: #ff0000; /* Red text */
    padding-bottom: 10px;
}

.sheet-section {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #ff0000; /* Red border */
    background-color: rgba(255, 255, 255, 0.1); /* Slight transparency */
}

.sheet-section h2 {
    margin-top: 0;
    color: #ff0000; /* Red text */
}

input,
textarea,
select {
    background-color: #f7e7a9; /* Pikachu yellow */
    color: #333; /* Dark text */
    border: 2px solid #ff0000; /* Red border */
    padding: 5px;
    font-size: 16px;
}

.custom-button {
    background-color: #ff0000 !important; /* Red background */
    color: #f7e7a9 !important; /* Pikachu yellow text */
    border: 2px solid #ff0000 !important; /* Red border */
    padding: 10px !important;
    font-size: 16px !important;
    font-weight: normal !important; /* Removes bold */
    cursor: pointer !important;
    transition: background-color 0.3s !important;
    margin-bottom: 10px !important; /* Adds space under the button */
}

/* Roll template styling */
.sheet-rolltemplate-sagas {
    background-color: #f0f0f0; /* Light grey background */
    border: 5px solid #ff0000; /* Red border */
    padding: 20px;
    color: #333 !important; /* Dark text */
}

.sheet-rolltemplate-sagas strong {
    font-size: 1.2em;
}

.sheet-rolltemplate-sagas p {
    margin: 10px 0;
}

.sheet-rolltemplate-sagas span.sheet-actualroll span {
    color: #20B2AA;
}
